@font-face {
  font-family: 'Golos Text';
  src: local('Golos Text'), url('/public/fonts/golos-text/GolosText-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Golos Text';
  src: local('Golos Text'), url('/public/fonts/golos-text/GolosText-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Golos Text';
  src: local('Golos Text'), url('/public/fonts/golos-text/GolosText-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Golos Text';
  src: local('Golos Text'), url('/public/fonts/golos-text/GolosText-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: local('Merriweather'), url('/public/fonts/merriweather/Merriweather-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}