@import 'vars';

.running-line {
  width: 100%;
  max-height: 60px;
  padding: 18px 0;
  box-sizing: border-box;
  background: $red;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 12px;
  font-family: $second-family;
  font-size: 22px;
  font-weight: 400;
  line-height: 110%;
  text-transform: uppercase;
  color: $white;
  overflow: hidden;
  flex-shrink: 0;

  @media (max-width: $sm) {
    height: 38px;
  }
}